# Core functionality - changes here should be rare!
/src/app.py                   @RafaelAV492
/src/backend/database.py      @RafaelAV492
/src/backend/routers/auth.py  @RafaelAV492

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RafaelAV492
